table {
	border-collapse: collapse;
	table-layout: fixed;
}

table td {
	border: 2px solid darkblue;
	word-wrap: break-word;
}

tfoot {
	background-color: lightblue;
	text-align: center;
}

.fcolumn {
	text-align: center;
	font-weight: bold;
	width: 150px;
}
.scolumn
{
	width: 250px;
}