table{
	border: 1px solid black;
	border-spacing: 0px;
}
td,th{
	border: 1px solid black;
	text-align: center;
	width: 100px;
}
#logo{
	width: 100px;
	height: 100px;
	padding-left: 100px;
}
#welcome
{
	text-align: center;
}
#section{
	padding-left: 80px;
}
#nav{
	padding-left: 100px;
}