body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #1b1b1b;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: block;
    background-color: #1e3741;
    border: 1px solid #357484;
    border-radius: 8px;
    overflow: auto;
    margin: 20px ;
    width: 780px;
    padding: 0px;  
}

.wrapper nav{
	display: inline-block;	
	margin: 0px;
	padding: 0px;
}

nav ul{
	list-style-type: none;
	float: left;
	padding-left: 0px;
}

nav ul li{
	display: block;
	float: left;
	background-color: #4B5F67;
	padding: 10px;
	margin: 0px 1px 0px 0px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	padding: 5px;
}

nav ul li.current{
    opacity: 1;
    background-color: #1E3741;
}

header.curr{
    background-color: #00968C;
    margin: 0px;
}

header.curr a{
    opacity: 1;
}

section {
	display: inline-block;
	background-color: #1E3741;
	float: left;
	width: 300px;
	padding: 0px;
}

section a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	opacity: 0.5;
	padding: 10px;
}

 article:not(.last){
    border-bottom: 1px solid #2e444e;
}

header a, article a{
	display: block;
}

#sport{
	text-decoration: underline;
}

iframe {
    width: 440px;
    height: 300px;
    border: 0px;
}

.video{
	display: inline-block;
	margin:0px;
	margin-bottom: 20px;
}